.gallery {
  @apply col-span-1 custom-md:col-span-1 p-4
  flex flex-col 
  items-center justify-center space-y-4
  custom-sm:flex-row-reverse
  custom-sm:space-y-0 
  custom-sm:space-x-4;

  &__main_pic_wrap {
    @apply max-w-[442px] h-64 
    custom-sm:w-96 
    custom-sm:h-96 
    object-cover;
  }
  &__main_pic_img {
    @apply max-w-[100%];
  }

  &__list {
    @apply flex space-x-4 
    custom-sm:flex-col 
    custom-sm:space-x-0 
    custom-sm:space-y-4;
  }

  &__item {
    @apply flex box-border border-2 
    max-w-[50px] max-h-[50px] 
    justify-center;
  }
}
