@import url('https://fonts.googleapis.com/css2?family=Mont:wght@400;700&display=swap');

.font-mont {
  font-family: 'Mont', sans-serif;
}

.text-shadow-custom {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  @apply 
  border-t-2 border-customTextColor max-w-full mx-auto justify-center;
  
  &__content {
  @apply 
  py-8 px-4 mx-auto sm:flex sm:justify-between items-center max-w-screen-custom-lg;
  
  }

  &__logo_wrap {
    @apply block mb-4 sm:mb-0;
  }

  &__list {
    @apply block mb-4 w-[378px] sm:flex sm:justify-around md:justify-between sm:mb-0 space-y-4 sm:space-y-0;
  }

  &__item {
    display: block space-y-2; 
  }

  &__link {
    @apply 
    uppercase text-customTextColor 
    hover:text-black transition-all duration-300
    font-extrabold;
  }

  &__btn_wrap {
    @apply flex items-center justify-center block;
  }

}

.logo_img {
  @apply w-[89px] h-[32px];
}

.btn_name {
  @apply mr-6 font-mont text-[#89939A] 
  font-normal text-xs leading-4 
  text-right;
}

.btn_toTop {
  @apply 
  bg-white p-2 w-[32px] h-[32px] 
  hover:bg-gray-800 transition
  rounded-none bg-transparent hover:shadow-md
  flex items-center justify-center
  border-[#B4BDC4] border-[1px];
}
